@import '../../colors.scss';

.HomeNavbar {
  background-color: transparent;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 100;
}

.HomeNavbar__Brand {
  margin-left: 50px;
  margin-top: 20px;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.HomeNavbar__AboutButton {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid #fff;
  background-color: $PRIMARY;
  box-shadow: 0 2px 7px 0 rgba(69, 119, 126, 0.37);
  transition: all 1s;
  padding: 4px 36px;
  color: #fff;
  transition: all 1s;

  &:hover {
    background-color: #fff;
    color: $PRIMARY;
    text-decoration: none;
  }
}
